* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: linear-gradient(180deg, #000, #07074d);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    background: url("../img/img-code.png") center/cover no-repeat, linear-gradient(180deg, rgb(0, 0, 0), rgba(49, 47, 218, 0.664));
    background-blend-mode: overlay;
    color: black;
    height: 660px;
    width: 390px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.507);
}

.image {
    border: 2px solid #13117e;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
    margin-top: 50px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.507);
}

.text {
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
}

.text h1 {
    font-size: 2.5rem;
}

.text p {
    font-size: 1.3rem;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    background: linear-gradient(90deg, #000, #3533cd);
    width: 200px;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.507);
}

.button-link:hover {
    box-shadow: 3px 5px 8px rgb(1, 40, 126);
    transform: translateY(-5px);
}

.link {
    display: flex;          
    align-items: center;    
    gap: 8px;               
    color: #fff;
    font-weight: bold;
    text-decoration: none; 
}

.img-logo {
    width: 28px;
    height: 28px;
    object-fit: contain;   
    margin-right: 30px;
}

@media screen and (min-width: 750px) {
    .container {
        width: 800px;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .image {
        height: 250px;
        width: 250px;
    }

    .button-link {
        width: 250px;
        padding: 15px;
    }

    .link {
        font-size: 1.3rem;
    }

    .img-logo {
        margin-right: 50px;
    }
}